<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>KFCalculator-2.0</title>
</head>
<body>
    <header>
        <h1>KFCalculator-2.0</h1>
            <div class="select">
                <select id="standard-select">
                  <option value="Option 1">列出含有所選品項的優惠代碼 (預設全部)</option>
                  <option value="Option 2">列出所有預算內所有優惠代碼</option>
                  <option value="Option 3">分配如何在預算內買到最多蛋塔 (不選重複)</option>
                  <option value="Option 4">分配如何在預算內買到最多炸雞 (不選重複)</option>
                  <option value="Option 5">分配如何在預算內買到最多蛋塔 (可重複)</option>
                  <option value="Option 6">分配如何在預算內買到最多炸雞 (可重複)</option>
                </select>
                <span class="focus"></span>
            </div>
            <div class="form__group field">
                <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                <label for="name" class="form__label">預算金額</label>
            </div>
        <div id="clock"></div>
    </header>
    <button class="topic-button toggleButton E" role="button">蛋塔</button>
    <button class="topic-button toggleButton F" role="button">炸雞</button>
    <button class="topic-button toggleButton C" role="button">雞塊</button>
    <button class="topic-button toggleButton G" role="button">綠茶</button>
    <button class="topic-button toggleButton Q" role="button">雙色轉轉 QQ 球</button>
    <button class="topic-button toggleButton K" role="button">可樂</button>

    <div id="imageContainer"></div>

    <script src="script.js"></script>
</body>
</html>
