<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>KFCalculater-2.0</title>
</head>
<body>
    <header>
        <h1>KFCalculater-2.0</h1>
        <div id="clock"></div>
    </header>
    <button class="topic-button toggleButton" role="button">蛋塔</button>
    <button class="topic-button toggleButton" role="button">炸雞</button>
    <button class="topic-button toggleButton" role="button">雞塊</button>
    <button class="topic-button toggleButton" role="button">薯條</button>
    <button class="topic-button toggleButton" role="button">雙色轉轉 QQ 球</button>
    <img src="http://localhost:8080/images/fetch-image?image_url=https%3A%2F%2Fkfcoosfs.kfcclub.com.tw%2FOLO-coupon-40445-20230705.jpg" alt="Example Image" class="img-responsive">
    <img src="http://localhost:8080/images/fetch-image?image_url=https%3A%2F%2Fkfcoosfs.kfcclub.com.tw%2FOLO-coupon-40426-20240119.jpg" alt="Example Image" class="img-responsive">
    <img src="http://localhost:8080/images/fetch-image?image_url=https%3A%2F%2Fkfcoosfs.kfcclub.com.tw%2FOLO-coupon-40509-20240119.jpg" alt="Example Image" class="img-responsive">
    <img src="http://localhost:8080/images/fetch-image?image_url=https://kfcoosfs.kfcclub.com.tw/OLO-coupon-40394-20221011.jpg" alt="Example Image" class="img-responsive">
    <img src="http://localhost:8080/images/fetch-image?image_url=https://kfcoosfs.kfcclub.com.tw/OLO-coupon-50428.jpg" alt="Example Image" class="img-responsive">

    <script src="script.js"></script>
</body>
</html>
