<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>KFCalculater-2.0</title>
</head>
<body>
    <header>
        <h1>KFCalculater-2.0</h1>
        <div id="clock"></div>
    </header>
    <button class="topic-button" role="button">蛋塔</button>
    <button class="topic-button" role="button">炸雞</button>
    <button class="topic-button" role="button">雞塊</button>
    <script src="script.js"></script>
</body>
</html>
